*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #050608;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    margin-right: 20px;
    z-index: 1; 
    animation: slideDown 0.8s ease-in-out; 
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
ul{
    list-style-type: none;
    display: flex;
}
li a{
    margin: 0px 15px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
ul:hover a{
    color: #bebbbbaf;
    transition: ease-in-out .3s;
}
ul:hover a:hover{
    color: turquoise;
    box-shadow: 0 2px 0 0 turquoise;
}
.logo{
    color: turquoise;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    text-transform: uppercase;
}
.about_img{
    display: flex;
    width: 20%;
    height: 50vh;
    padding-left: 10%;
    padding-top: 3%;
    animation: fadeInScale 1.0s ease-in-out;
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9); 
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}
.about_me{
    position: absolute;
    width: 80;
    color: white;
    left: 30%;
    top: 22%;
    margin-left: 0;
    animation: slideInLeft 1.0s ease-in-out;
}
.about_me h1{
    color: turquoise;
    font-family: poppins;
    font-size: 25px;
}
.about_me p{
    font-size: 15px;
    font-family: poppins;
    color: white;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
}
.about_me span{
    font-size: 18px;
    font-family: poppins;
    font-weight: bold;
    font-style: italic;
}
.contact-info{
    position: absolute;
    flex-direction: column;
    width: 40%;
    top: 40%;
    margin-left: 30%;
    color: white;
    animation: slideInLeft 1.0s ease-in-out;
}
.arrow{
    margin-left: 10px;
    color: turquoise;
    font-weight: 800;
}
.label{
    font-family: poppins;
    font-weight: 700;
    color: white;
}
.container {
    width: 50% ;
    margin: 0 auto;
}
.interest_line {
    text-align: center;
    margin-bottom: 40px;
    color: turquoise;
    font-family: poppins;
    font-weight: 300;
    font-size: 20px;
    animation: slideInLeft 1.0s ease-in-out;
}
.interests {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    gap: 20px;
    height: 9vh;
    width: 70%;
    left: 18%;
    animation: bounceIn 0.8s ease-out;
    animation-fill-mode: both;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes staggeredBounceIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.interest-item {
    position: relative;
    background: #2a2a2a;
    overflow: hidden;
    border-radius: 5px;
    text-align: left;
    padding: 13px;
    width: 210px; 
    height: 50px; 
    transition: transform 0.3s ease-in-out, 0.3s ease-in-out; 
    animation: staggeredBounceIn 0.8s ease-out;
    animation-fill-mode: both; 
}

.interest-item:hover {
    transform: scale(1.05); 
    background: #3a3a3a; 
}

.interest-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border: 1px solid turquoise;
    transition: left 0.3s ease-in-out; 
}

.interest-item:hover::before {
    left: 0; 
}

.interest-item:nth-child(1) {
    animation-delay: 0.1s; 
}

.interest-item:nth-child(2) {
    animation-delay: 0.3s; 
}

.interest-item:nth-child(3) {
    animation-delay: 0.5s; 
}

.interest-item:nth-child(4) {
    animation-delay: 0.7s; 
}

.interest-item:nth-child(5) {
    animation-delay: 0.9s; 
}
.interest-item:nth-child(6) {
    animation-delay: 0.6s; 
}
.interest-item:nth-child(7) {
    animation-delay: 0.2s; 
}

.txt_value{
    font-family: poppins;
    font-weight: 300;
    color: white;
    font-size: 13px;
    margin-left: 30px;
}

.interest-item img {
    display: flex;
    position: absolute;
    width: 22px;
    transition: transform 0.5s ease-in-out; 
}

.interest-item:hover img {
    transform: rotate(360deg); 
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}
/* Media query for phone screens */
@media screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: poppins;
    }
    main{
        background-color: #050608;
        background-image: none;
        height: 100vh; 
    }
    nav {
        display:flex; 
        padding: 20px;
    }

    ul {
        display: flex; 
        align-items: center;
        gap: 10px; 
    }

    ul li a {
        margin: 10px 0; 
        font-size: 10px;
    }

    .logo {
        font-size: 20px; 
        margin-left: 0; 
        text-align: center;
    }
    .about_img{
        width: 100%; 
        height: 20vh; 
        margin-top: 10%;
        padding-left: 30%;
    }
    .about_me{
        width: 100%; 
        font-size: 12px; 
        text-align: center;
        justify-content: center;
        top: 35%;
        position: absolute;
        left: 0; 
    }
    .about_me h1{
        font-size: 18px; 
        margin-bottom: 18px; 
    }
    .about_me p{
        font-size: 12px; 
    }
    .about_me span{
        font-size: 14px; 
    }
    .contact-info{
        width: 70%;
        margin: 0%;
        font-size: 12px;
        text-align: left;
        top: 55%;
        left: 20%; 
    }
    .container {
        width: 80%;
        position: absolute;
        top: 70%;
    }
    .interests {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        flex-wrap: wrap;
    }
    .interest-item{
        width: 10%;
        height: 30px; 

    }

}