*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #050608;  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    margin-right: 20px;
    position: relative;  
    animation: slideDown 0.8s ease-in-out; 
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
ul{
    list-style-type: none;
    display: flex;
}
li a{
    margin: 0px 15px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
ul:hover a{
    color: #575757;
    transition: ease-in-out .5s;
}
ul:hover a:hover{
    color: turquoise;
    box-shadow: 0 2px 0 0 turquoise;
}
.logo{
    color: turquoise;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    text-transform: uppercase;
}
.container{
    display: flex;
    margin-top: 50px;
    justify-self: center;
    width: 50%;
    height: 70vh;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color:rgba(20, 24, 28, 0.5);
    box-shadow: 0 0 30px rgba(15, 228, 224, 0.71);
}
.container:hover{
    box-shadow: 0 0 50px rgba(15, 228, 224, 0.71), 0 0 50px rgba(15, 228, 224, 0.71), 0 0 50px rgba(15, 228, 224, 0.71);
    transition: ease-in-out .5s;
}
.container h3{
    color: white;
    margin-top: 20px;
    height: max-content;
    font-size: 30px;
    font-weight: 400;
}
.form{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
}